/*feuille de style css*/
header{
  display: flex;
  justify-content:space-between;
  background-color: #693460;
  width:inherit;
  height:80px;
}
#logo{

  width:20% content-box;
  height:80px;
}
menu{
  display:flex;
  justify-content: space-around;
}
menuitem{
  margin:10px 10px 20px;
  color:white;
}

}
#conection{
  width:25% content-box;
  height:80% content-box;
  display:flex;
  justify-content: center;
}
#drapeau{
  margin-top: 40px;
  }
#pubpe{
  background-image:url("IMG/voyage_malte.png");
  width: auto;
  heigth:300px;
}



#recherche{
  border: 1px solid black;
  border-radius: 4px;
  width:20px;
  height:20px;
}
